&-sideblock {
    margin-bottom: 30px;

    &__title {
        padding-left: 25px;
        font-size: 0.75em;
        color: #00BC7E;
        font-weight: 700;
        display: block;
        margin-bottom: 5px;
    }
}
