&-workspace {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: hidden;
}

&-workspace-loader {
    width: 100%;
    text-align: center;
}
